@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
  margin: 0;
  font-family: "Sans Seriff", Montserrat;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



